<%- include('../partials/header') %>
<form action="/flights/<%= flight._id %>/tickets" method="post">
    <label>Seat:
        <input name="seat" type="string" required pattern="[A-F][1-9]\d?">
    </label>

    <label>Price:
        <input name="price" type="number" required>
    </label>

    <button id="ticket-buttons" type="submit">Generate Ticket</button>
</form>
<%- include('../partials/footer') %>